/* .list {
  padding: 32px 24px 7px 24px;
}

ul {
  list-style-type: none;
} */

.list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}

.todo__done {
  outline: none;
  margin-right: 16px;
}

.todo__done:checked + .todo__name {
  color: #a9acaf;
  text-decoration: line-through;
}

.todo__delete {
  outline: none;
  margin-left: 16px;
  background: #ffffff;
  border: 0;
}

.todo__name {
  text-align: left;
  width: 100%;
}

.delete_button:hover {
  color: blue;
}

.display_block {
  display: block;
}
